---
services:
    obsidian:
        image: lscr.io/linuxserver/obsidian:latest
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Asia/Tokyo
        volumes:
            - ./vault:/config/vault
        ports:
            - 127.0.0.1:3000:3000
            - 127.0.0.1:3001:3001
        shm_size: "2gb"
        restart: unless-stopped
