services:
  obsidian:
    image: linuxserver/obsidian:latest
    container_name: obsidian
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - ./vault:/config/vault
    restart: unless-stopped
